/* stili generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* dimensionamento header*/
header {
    background-image: url(img/jumbo.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

}
/* prima sezione con logo login e link principali */
#top_nav_bar {
    height: 15%;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0;

}
/* nav bar */
.link_li {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    justify-content: space-around;
    font-size: 25px;
    color: white;

}
.logo {
    flex-grow: 1;
}
.login {
    margin-left: 150px;
    padding: 10px;
    font-size: 25px;
    background-color: white;
    border-radius: 50px;
    text-align: right;
}

.link_li li {
    list-style: none;
}

/* inizio foglio stile PRIMA pagina download page */

.main_functions {
    height: 90%;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 2.5em;
}
/* stile per tutti i paragrafi */
p{
    font-size: 25px;
    padding: 10% 0;
}

.intro_discord {
    max-height: 80%;
    width: 50%;
    text-align: center;
    color: white;
    margin: auto;

}

/* stile bottoni prima pagina  */
#btn-first-page {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 10px; 
    padding: 10px;
    margin: 0 30px  ; 
}

.fa-solid{
    font-size: 25px;
    padding-right: 5%;
}

#btn-first-page div {
    flex-grow: 1;
}

/* first child btn */

#btn-first-page div:first-child {
    background-color: white;
    text-align: center;
    font-size: 2em;
    width: min-content;
    border-radius: 50px;
    margin-right: 25px;
    padding: 10px;
}

/* Last child btn */

#btn-first-page div:last-child {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
    width: min-content;
    border-radius: 50px;
    margin-left: 25px;
    padding: 10px;
}

/* inizio pagine info */
.server {
    background-color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_left {
    max-width: 80%;
    height: 80%;
    margin-right: 12%;
}

.server_description {
    max-width: 15%;
    height: 80%;
    text-align: left;


}



.channel {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_right {
    max-width: 30%;
    height: 80%;
}

.h1_custom{
    font-size: 3rem;
}

.channel_description {
    padding-top: 2%;
    max-width: 20%;
    height: 80%;
}

.fandom {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fandom_description {
    max-width: 20%;
    height: 80%;
}

.tecnology {

    background-color: #f6f6f6;
    text-align: center;
    position: relative;
}
.tecnology h1 {
    padding-top: 5%;
}





#p-custom{
    padding: 5%;
    width: 70%;
    margin: auto;
}

.last_img {
    width: 100%;
    height: 90%;
    margin: auto;
}

/* star */
/* .star {
    width: auto;
} */

.star h2 {
    padding: 5% 0;
    font-size: 3em;

}
/* tecnology page download button */
.tecnology .download{
    background-color: #687dc5;
    text-align: center;
    font-size: 30px;
    width: 300px;
    border-radius: 50px;
    padding: 10px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0);
}




/* inizio prima sezione footer */

footer {
    background-color: #23272a;
}

#footer_container {
    width: 70%;
    height: 50%;
    display: flex;
    margin: auto;
    margin-bottom: 5%;
    padding-top: 5%;


}

/* share container */
.share {
    height: 100%;
    flex-basis: 200px;
    flex-grow: 2;
}

.share #share_title {
    color: #687dc5;
    font-size: 30px;

}
/* ti permette di scegliere la lingua con bandiera */
.language{
    display: flex;
    margin-top: 5%;
    align-items: center;
    font-size: 20px;
}

/* separazione Scritta da bandiera */
.language div {
    padding-left: 10%;
    color: white;
    min-width: 100%;
    font-size: 25px;
}
/* icone social */

.social {
    font-size: 30px;
    margin-top: 10%;
    color: white;
}


/* contenitori liste footer */
.ft_item {
    height: 100%;
    flex-basis: 100px;
    color: white;
    flex-grow: 1;
}

/* personalizzazione stile liste per stile comune*/
.ft_item ul {
    list-style: none;
    font-size: 25px;
}

.ft_list li:first-of-type {
    color: #687dc5;
}



/* seconda sezzione footer */

.ft_bottom{
    height: 50px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo_btn{
    height: 100%;
    width: 120px;

}

.ft_bottom .registratti {
    padding: 0 5%;
    border-radius: 50px;
    background-color: #687dc5;
    padding: 10px;
    position: absolute;
    right: 0;
}
