/* stili generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* dimensionamento header*/
header {
    height: 70vh;
    background-image: url(img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
/* prima sezione con logo login e link principali */
#top_nav_bar {
    height: 15%;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.link_li {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    justify-content: space-around;
    font-size: 25px;
    color: white;

}
.logo {
    flex-grow: 1;
}
.login {
    margin-left: 150px;
    padding: 5px;
    font-size: 25px;
    background-color: white;
    border-radius: 50px;
    
    text-align: right;
}


.link_li li {
    list-style: none;
}
/* inizio foglio style download page */

.main_functions {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 2.5em;
}
p{
    font-size: 25px;
    padding: 10% 0;
}
.intro_discord {
    min-height: 80%;
    width: 50%;

    text-align: center;
    color: white;

}

.server {
    background-color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_left {
    width: 40%;
    height: 80%;
    margin-right: 12%;
}

.server_description {
    max-width: 15%;
    height: 80%;
    text-align: left;


}


.channel {
    height: 80vh;
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_right {
    width: 30%;
    height: 80%;
}

.h1_custom{
    font-size: 3rem;
}

.channel_description {
    padding-top: 2%;
    max-width: 20%;
    height: 80%;
}

.fandom {
    height: 80vh;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.fandom_description {
    max-width: 20%;
    height: 80%;
}

.tecnology {
    height: 100vh;
    background-color: rgb(216, 216, 216);
    text-align: center;

}
#p-custom{
    padding: 0;
}

.last_img {
    width: 70%;
    height: 80%;
    background-color: rgb(4, 113, 4);
    margin: auto;
}


footer {
    min-height: 65vh;
    background-color: darkblue;
}

#footer_container {
    width: 70%;
    height: 300px;
    display: flex;
    padding-top: 10px;
    margin: auto;
    margin-bottom: 5%;

}

.share {
    height: 100%;
    background-color: pink;
    flex-basis: 200px;
    flex-grow: 2;
}

.ft_item {
    height: 100%;
    flex-basis: 100px;
    background-color: rgb(16, 203, 16);
    border: 1px dashed black;
    flex-grow: 1;
}

.ft_bottom{
    background-color: yellow;
    height: 50px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo_btn{
    height: 100%;
    width: 120px;
}

hr{
    width: 70%;
    margin: auto;
    /* padding: 1px; */
}